<?xml version="1.0" encoding="UTF-8"?>
<!-- File written by PDE 1.0 -->
<plugin
   id="org.eclipse.core.resources"
   name="%pluginName"
   version="0.9"
   provider-name="Object Technology International, Inc."
   class="org.eclipse.core.resources.ResourcesPlugin">
<requires>
   <import plugin="org.apache.xerces"/>
</requires>

<runtime>
   <library name="resources.jar">
      <export name="*"/>
   </library>
</runtime>

<extension-point id="builders" name="%buildersName"/>
<extension-point id="markers" name="%markersName"/>
<extension-point id="natures" name="%naturesName"/>
<!-- This extension point is to be used for internal purposes -->
<!-- only and is not to be considered API.                     -->
<extension-point id="internalFileValidator" name="%validatorName"/>

<extension
      id="marker"
      name="%markerName"
      point="org.eclipse.core.resources.markers">
</extension>
<extension
      id="problemmarker"
      name="%problemName"
      point="org.eclipse.core.resources.markers">
   <super
         type="org.eclipse.core.resources.marker">
   </super>
   <persistent
         value="true">
   </persistent>
   <attribute
         name="severity">
   </attribute>
   <attribute
         name="message">
   </attribute>
   <attribute
         name="location">
   </attribute>
</extension>
<extension
      id="taskmarker"
      name="%taskName"
      point="org.eclipse.core.resources.markers">
   <super
         type="org.eclipse.core.resources.marker">
   </super>
   <persistent
         value="true">
   </persistent>
   <attribute
         name="priority">
   </attribute>
   <attribute
         name="message">
   </attribute>
   <attribute
         name="done">
   </attribute>
</extension>
<extension
      id="bookmark"
      name="%bookmarkName"
      point="org.eclipse.core.resources.markers">
   <super
         type="org.eclipse.core.resources.marker">
   </super>
   <persistent
         value="true">
   </persistent>
   <attribute
         name="message">
   </attribute>
   <attribute
         name="location">
   </attribute>
</extension>
<extension
      id="textmarker"
      name="%textName"
      point="org.eclipse.core.resources.markers">
   <super
         type="org.eclipse.core.resources.marker">
   </super>
   <attribute
         name="charStart">
   </attribute>
   <attribute
         name="charEnd">
   </attribute>
   <attribute
         name="lineNumber">
   </attribute>
</extension>
</plugin>
